/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */


/* Import fonts */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0px;
}

body {
    background: #fff;
    margin: 0;
    color: #5a5a5a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #666;
    margin-top: 10px;
}

.white {
    color: #FFF
}

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.centered {
    text-align: center
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 50px;
}

.mtb {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mtb2 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ptb {
    padding-top: 80px;
    padding-bottom: 80px;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
    color: #1abc9c;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #696E74;
}

.nopadding {
    padding: 0px !important;
    margin: 0px;
}


/* FORM CONFIGURATION */

input {
    font-size: 16px;
    min-height: 40px;
    border-radius: 25px;
    line-height: 20px;
    padding: 15px 30px 16px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    opacity: 0.9;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.subscribe-input {
    float: left;
    width: 65%;
    text-align: left;
    margin-right: 2px;
}

@media screen and (max-width: 767px) {
    .subscribe-input {
        width: 100%;
    }
}

.subscribe-submit {
    right: 0;
}

.btn-download {
    background: #FDE3A7;
}


/*Buttons Configuration */

.btn-conf {
    border-radius: 50px;
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 28px 17px 28px;
}

.btn-conf-2 {
    border-radius: 50px;
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 28px 11px 28px;
    margin-top: 20px;
}

.btn-green {
    background: #ff771c;
    color: white
}


/* HEADER SECTION */

#h {
    background: url(../img/header.jpg) no-repeat center top;
    padding-top: 180px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;
    color: white;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
    top: 30px;
    left: 45px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
}

#h .social {
    top: 30px;
    right: 45px;
    font-size: 20px;
    position: absolute;
}

#h .social i {
    margin-left: 20px;
}

#h .social a {
    color: white;
}

#h h1 {
    font-weight: 700;
    color: white;
    font-size: 40px;
}


/* Store Links */

.store img {
    margin-right: 10px;
    margin-top: 20px;
}


/* SEP */

#sep {
    background: url(../img/sep.jpg) no-repeat center top;
    padding-top: 90px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    width: 100%;
    color: white;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sep h4 {
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 30px;
}


/* Pricing Tables */

.price-table {
    border: 2px solid #5a5a5a;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 5px;
}

.price-table .p-head {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 80px;
    border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
    color: #333333;
    border-bottom: 2px solid #ccc;
    padding: 24px 0px;
    margin: 0;
    letter-spacing: 1px;
}

.p-body .price .detail {
    font-weight: 700;
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.p-body .price .sub {
    font-size: 18px;
    color: #ccc;
    position: relative;
    bottom: 10px;
    font-weight: 700;
}

ul {
    list-style-type: none;
}


/* SPONSORS */

#g {
    background: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 60px;
}

.sponsor img {
    max-width: 140px;
    max-height: 60px;
    vertical-align: middle;
}

.sponsor .col-sm-2 {
    height: 80px;
    line-height: 80px;
}


/* GREEN SECTION - TESTIMONIAL */

#green {
    padding-top: 90px;
    padding-bottom: 60px;
    min-height: 300px;
    background: #ff771c;
    color: white;
}

#green tgr {
    font-weight: 700;
    letter-spacing: 1px;
}


/* FOOTER */

#f {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f2f2f;
    color: white;
}

#f h5 {
    margin-top: 30px;
    letter-spacing: 1px;
}

#f i {
    font-size: 45px;
    margin: 15px;
}

#f a {
    color: #b9b9b9;
}

#f a:hover {
    color: #ff771c;
}

.header-adaptive {
    position: fixed;
    width: 100%;
    height: 75px;

    top: 0;
    left: 0;
}

.header {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    background-color: #2f2f2fcc;
    width: 100%;
}

.d-flex {
    display: flex;
}

.header .container {
    height: 100%;
}

.header .row {
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header .row .logo img {
    max-height: 55px;
}

.header-menu {
    margin-left: 50px;
}

.header-menu ul {
    display: flex;
    margin-bottom: 0;
}

.header-menu ul li:not(:last-child) {
    margin-right: 50px;
}

.header-menu ul li a {
    color: #ff563f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
    .header-menu ul li:not(:last-child) {
        margin-right: 20px;
    }

    .header-menu ul li a {
        font-size: 13px;
    }

    .header-menu {
        margin-left: 20px;
    }

    .header .row {
        justify-content: left;
        margin-left: 0;
    }
}

.contacts-row {
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.contacts-row h4 {
    font-weight: 600;
    margin-bottom: 30px;
}

.contacts-text p {
    font-weight: 400;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.contacts-text-home {
    background: url(/assets/img/home.png ) 0px 4px no-repeat;
}

.contacts-text-phone {
    background: url(/assets/img/phone.png ) 0px 5px no-repeat;
}

.contacts-text-mail {
    background: url(/assets/img/mail.png ) 0px 7px no-repeat;
}

#contact-form {
    padding-left: 10px;
}

#contact-form input {
    padding: 5px 15px 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #5a5a5a;
    outline: none;
}

#contact-form input:nth-child(1) {
    margin-right: 8px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    /* color: #b9b9af; */
    font-size: 13px;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    /* color: #b9b9af; */
    font-size: 13px;
}

#contact-form textarea {
    font-size: 16px;
    min-height: 80px;
    border-radius: 25px;
    line-height: 20px;
    padding: 15px 15px 15px;
    border: 1px solid #b9b9af;
    background-color: #fff;
    opacity: 0.9;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100%;
}

.contact-form__btn {
    display: block;
    border: 0;
    margin-top: 10px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background-color: #fe553d;
    border-radius: 25px;
    margin-left: auto;
    min-height: 45px;
}

@media screen and (max-width: 767px) {
    .contacts-row .col {
        width: 100%;
    }

    #contact-form {
        padding-left: 0;
    }

    #contact-form input {
        width: 100%;
    }

    .contacts-row .col-form {
        margin-top: 15px !important;
    }

    .contact-form__btn {
        width: 100%;
    }
}

.order-form {
    margin: 20px auto 50px;
    max-width: 700px;
    padding: 0 20px !important;
}

.order-form input {
    width: 100%;
    margin-bottom: 20px;
}

.order-title {
    margin-bottom: 20px;
    font-weight: 500;
}

.order-form .contact-form__btn {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

.order-form h4 {
    border-bottom: 1px dashed #ccc;
    max-width: 670px;
    margin: 0 auto 50px;
    padding-bottom: 15px;
}

.contact-form-succes {
    display: inline-block;
    margin-left: 15px;
    color: #ff563f;
}

.order-form-succes {
    display: block;
    text-align: center;
}

/* API DOCS */
.docs {
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.docs-category {
    max-height: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 20px;
    width: 18%;
    overflow-y: auto;
    position: fixed;

    background-color: #fff;

    top: 75px;
    left: 0;

    z-index: 333333;

    transition: transform .5s ease;
    transform: translateX(-100%);
}

.docs-category.active {
    transform: translateX(0);
}

.docs-category-link {
    position: relative;
}

.docs-category-link a {
    text-transform: capitalize;
    color: #5a5a5a;
}

.docs-category-link a:hover {
    color: #ff563f;
}

.docs-category-sublink a {
    display: none;
    padding-left: 20px;
    padding-top: 20px;
}

.docs-category-sublink a.active {
    display: block;
}

.docs-category-sublink span {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;

    cursor: pointer;
    font-size: 10px;

    top: 0;
    left: -24px;

    transform: translateY(30%);

    transition: transform 0.5s ease;
}

.docs-category-sublink span.active {
    transform: rotate(90deg) translateX(50%) translateY(0);
}

.docs-content {
    height: auto;
    width: 100%;
    padding: 40px;
    margin-left: 0;

    transition: all .5s ease;
}

.docs-content.active {
    width: 80%;
    margin-left: 18%;
}

.docs-category-title {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;

    text-transform: capitalize;
    font-weight: 300;
    font-size: 30px;
}

.docs-category-subtitle {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;

    text-transform: capitalize;
    font-weight: 300;
    font-size: 23px;
}

/* TABLE */

.docs-table {
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}

.docs-table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.docs-table th {
    padding: 10px 15px;
    text-align: left;

    font-size: 16px;
    font-weight: normal;
    border: 1px solid #ddd;
}

.docs-table th:nth-child(2n+1) {
    width: 15%;
}

/* LIST */
.docs ul {
    padding-left: 2em;
    padding-bottom: 20px;
    list-style-type: disc;
}

.docs ul li {
    padding-bottom: 10px;

    font-size: 16px;
    font-weight: normal;
}

.docs ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.docs ul ul {
    padding-bottom: 0;
    list-style-type: circle;
}

/* HIGHLIGHT CODE */
.code-highlights {
    position: relative;
    border-radius: 6px;
    background-color: #ff563f;
}

.buttons-switch {
    display: flex;
    column-gap: 20px;
    padding: 20px 20px;
}

code.active {
    display: block;
}

.example-title {
    position: absolute;

    font-weight: 600;

    top: 37.5px;
    left: 50%;

    z-index: 2222;

    transform: translateX(-50%) translateY(-50%);
}

.switch-language,
.code-copy {
    padding: 10px 7px;

    color: #5a5a5a;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: rgb(223, 94, 77, 0.6);
    box-shadow: inset -2px -2px 2px 0px rgba(87, 49, 49, 0.48);

    transition: all 0.1s ease;
}

.switch-language.active,
.code-copy.active {
    background-color: rgb(223, 94, 77, 0.8);
    box-shadow: none;
}

.code-copy {
    position: absolute;
    padding: 10px 12px;

    top: 20px;
    right: 20px;

    z-index: 111;

    transition: none;
}

.code-copy:active {
    animation: .5s buttonsCopy;
}

@keyframes buttonsCopy {
    from {
        background-color: rgb(223, 94, 77, 0.8);
        box-shadow: none;
    }

    to {
        background-color: rgb(223, 94, 77, 0.6);
        box-shadow: inset -2px -2px 2px 0px rgba(87, 49, 49, 0.48);
    }
}

/* HAMBURGER */

.category-arrow {
    position: fixed;
    width: 30px;
    height: 30px;

    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;

    top: 75px;
    left: 0;

    transform: rotate(0);

    transition: all .5s ease;
}

.category-arrow.active {
    left: 18%;

    transform: rotate(180deg);
}

.hamburger {
    display: none;

    z-index: 22222;
}

.hamburger button {
    width: 50px;
    height: 50px;
    position: relative;

    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #ff563f;
    box-shadow: 0 0 5px 5px rgba(87, 49, 49, 0.3);
}

.hamburger button span {
    width: 31%;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

.hamburger button span,
.hamburger button span:before,
.hamburger button span:after {
    display: inline-block;
    height: 2px;
    position: absolute;

    border-radius: 3px;
    background-color: #2f2f2f;

    transition: all .4s ease-in-out;
}

.hamburger button span:before,
.hamburger button span:after {
    content: "";
    width: 100%;

    left: 0;
}

.hamburger button span:before {
    top: -0.3rem;
}

.hamburger button span:after {
    top: 0.3rem;
}

.hamburger.active button span {
    background-color: transparent;
}

.hamburger.active button span:before {
    top: 0;

    transform: rotate(135deg);
}

.hamburger.active button span:after {
    top: 0;

    transform: rotate(-135deg);
}

@media (max-width: 912px) {

    .header-adaptive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        background-color: #2f2f2fcc;

        z-index: 1111111;
    }

    .docs-header {
        width: 35%;
        height: 100vh;
        padding: 17px 10px;

        top: 75px;
        left: auto;
        right: 0;

        transform: translateX(100%);
        transition: all .5s ease;

        z-index: 11111;
    }

    .docs-header .d-flex {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .header .row {
        justify-content: flex-start;
    }

    .docs-header .logo img {
        height: 50px;
        width: 50px;
    }

    .docs-header ul {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .header-menu {
        margin-left: 0;
    }

    .header-menu ul {
        align-items: center;
    }

    .header-menu ul li:not(:last-child) {
        margin-right: 0;
    }

    .category-arrow {
        position: static;

        font-size: 30px;

        top: auto;
        left: auto;
    }

    .category-arrow.active {
        left: auto;
    }

    .hamburger {
        display: block;
    }

    .docs-category {
        width: 40%;
    }

    .docs-content {
        transition: none;
    }
}

@media screen and (max-width: 767px) {
    .order-form .col {
        width: 100%;
    }

    .order-form .contact-form__btn {
        width: 100% !important;
    }

    .order-title {
        text-align: center;
        line-height: 1.2;
    }
}

/* @media (max-width: 519px) {

} */